
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
img, video, iframe {
  max-width: 100%;
}

.explore {
  .head-banner {
    margin-bottom: 0;
  }
  .featured-facilities, .galleries {
    background: none;
    h2 {
      display: none;
    }
  }
}



.page-link {
  position: relative;

  color: #ed1c24;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;

  &:hover {
    z-index: 2;
    color:#fff;
    text-decoration: none;
    background-color: #ed1c24;
    border-color: #ed1c24;
  }

}

.page-item {


  &.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ed1c24;
    border-color: #ed1c24;
  }

  &.disabled .page-link {
    color: #ed1c24;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color:#ed1c24;
    border-color: #ed1c24;
  }
}
